* {
    box-sizing: border-box;
}

html, body, main {
    width: 100%;
    height: 100%;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(164, 203, 240);
    background: linear-gradient(180deg, rgba(140, 200, 255, 1) 25%, rgb(133, 228, 56) 100%);
}

.error_field {
    display: none;
    color: rgb(180, 17, 17);
}

.form-container{
    max-width: 640px;
    height: 450px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 10% 5% 10%;
    width: 80%;
    background: rgb(249, 250, 249);
    border: 4px solid rgb(56, 102, 65);
    border-radius: 12px;
    overflow-y: scroll;
}

.form-item {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

.form-item input, .form-item label {
    width: 100%;
    margin: 0;
    padding: 5px 0;
}

.form-item button {
    margin-top: 40px;
    padding: 5px;
}

.btn-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btn-container a {
    text-decoration: none;
    margin-bottom: 40px;
    color: rgb(0, 107, 210);
}

.btn-container a:hover {
    text-decoration: none;
    color: rgb(95, 185, 10);
}

#form_title {
    padding: 5px;
}

#login-btn {
    width: 64px;
    margin-bottom: 20px;
}

#register-btn {
    width: 128px;
    margin-bottom: 20px;
}